.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
tsconfig.json
prettier.config.js
esbuild.js
.eslint.tsconfig.json
.eslintrc.js