name: Deploy extension

on:
  release:
    types: [published]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install

  build:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/publish
        with:
          vsce_token: ${{ secrets.VSCE_TOKEN }}
          open_vsx_token: ${{ secrets.OPENVSX_TOKEN }}
